In [1]:
#Declare a string and store it in a variable. 

a = 'Keshav'

#Check the type and print the id of the same.

print(type(a),id(a))

<class 'str'> 139934844699960

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid
# Valid
2. "This is Python class"
valid/invalid
# Valid
3. '''This is Python class'''
valid/invalid
# Valid
4. """This is Python class"""
valid/invalid
# Valid
5. 'This is Python's class'
valid/invalid
# InValid
6. "Learnbay provides "Java", "Python" classes"
valid/invalid
# Invalid
7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid
# Valid
8. "This is Python's class"
valid/invalid
# Valid
9. """Learnbay provides "Java", "Python" classes"""
valid/invalid
# Valid
10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   
# Valid
11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid
# Valid
12. 'This is
Python 
class'
valid/invalid
# Invalid

In [2]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print('The length of {} is '.format('my_str'), len(my_str))
#output:- The length of my_str is 66

print(id(my_str),id(my_str1))
#output:- id of my_str and my_str1 is same? - True
#Id of my_str and my_str1 is not same because space character is not follow object reusability. If we can replace it by '_' then id will be same.

print(type(my_str))
#output:- Type of my_str is: str

The length of my_str is  66
139934845085256 139934845085016
<class 'str'>

In [3]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in {} is: '.format('my_str'), my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print('The first character in {} is: '.format('my_str'), my_str[-len(my_str)])
#output:- The first character in my_str is: A
#Note:- Use len() function.

print('The character at index 10 in {} is: '.format('my_str'),my_str[10])
#output:- The character at index 10 in my_str is: " "
#Note:- Use positive indexing

print('The last character in {} is: '.format('my_str'),my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print('The last character in {} is: '.format('my_str'), my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character at index 10 in {} is: '.format('my_str'),my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is:  A
The first character in my_str is:  A
The character at index 10 in my_str is:
The last character in my_str is:  h
The last character in my_str is:  h
The character at index 10 in my_str is:  8

In [4]:
#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print(my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print(my_str[0:len(my_str):-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print(my_str[::3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print(my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print(my_str[len(my_str):-len(my_str)-1:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[len(my_str):-len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?
# It will print empty string.

print(my_str[16:10:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[49:56:1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl

yaw ta
ess you

In [9]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.

str1 = 'Learnbay '
str2 = 'Python'
print(str1 + str2)

#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str

#print(str1+10)

#Error: TypeError: can only concatenate str (not "float") to str

#print(str2+10.52)

#Find below Output
#Output is: LearnbayLearnbayLearnbay
str1 = 'Learnbay'
print(str1*3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'

#print(str1*10.52)

#Error: TypeError: can't multiply sequence by non-int of type 'str'
#print(str1*str2)

Learnbay Python
LearnbayLearnbayLearnbay

In [10]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2

print(str1 is str2)

#print False by using identity operator between str1 and str3

print(str1 is str3)

#print False by using identity operator between str4 and str3

print(str4 is str3)

#Check if P is available in str1 and print True by using membership operator

print('P' in str1)

#Check if $ is available in str3 and print True by using membership operator

print('$' in str3)

#Check if N is available in str3 and print False by using membership operator

print('N' in str3)

True
False
False
True
True
False

In [11]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

print(str1.replace('Python','Java'))

#Without using replace() it will throw error
str1[8:14]='Java'
print(str)

This is Java class

TypeError: ignored

In [12]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1 <= str2)
print(str1 >= str2)

#Compare str1 and str2 and print True using equality operator

print(str1 == str2)

#Compare str1 and str2 and print False using equality operator

print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator

print(str1 < str2)
print(str1 > str2)

True
True
True
False
False
False

In [13]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator

print(str1 < str2)

#Compare str1 and str2 and print True using equality operator

print(str1 != str2)

#Compare str1 and str2 and print False using equality operator

print(str1 == str2)

#Compare str1 and str2 and print False using comparison operator

print(str1 > str2)

True
True
False
False

In [14]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.

'''It will not give any error since 65 is declare as a string, but if we use str2 = 65 then it will give above error
str1 = 'A'
str2 = 65
print(str1 >= str2)'''

#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator
str1 = 'A'
str2 = '65'
print(str1 != str2)

#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

True
False

In [15]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator

print(str1 >= str2)

#Compare str1 and str2 and print True using equality operator

print(str1 == str2)

#Compare str1 and str2 and print False using equality operator

print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator

print(str1 > str2)

True
True
False
False

In [16]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator

print(str1 <= str2)

#Compare str1 and str2 and print True using equality operator

print(str1 != str2)

#Compare str1 and str2 and print False using equality operator

print(str1 == str2)

#Compare str1 and str2 and print False using comparison operator

print(str1 >= str2)

True
True
False
False

In [17]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(b and a)
print(a or b)
print(not a)
print(not b)

Python
False
True

In [18]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)

True

In [19]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(b and a)
print(a or b)
print(not a)
print(not b)

learnbay
Python
Python
False
False

In [21]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
# Using index()
i = -1
count =0
while True:
    i = my_str.find('t',i +1)
    if i == -1:
        break
    else:
        count+=1
print(count)

#Using find()
i = -1
count =0
while True:
    try :
        i = my_str.index('t',i +1)
    except ValueError:
        break
    else:
        count+=1
print(count)

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))
print(my_str.index('8'))

#What will be the output of below code?
print(my_str.find('the'))


#print(my_str.index('the'))
#ValueError

print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

7
7
9
9
-1
11
63
63

In [22]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

my_str = input("Enter a string: ")
if my_str.startswith(' ') and my_str.endswith(' '):
    print("Appling strip method as string start with and end with a space", my_str.strip())
elif my_str.startswith(' '):
     print("Appling lstrip method as string start with a space: ", my_str.lstrip())
else :
     print("Appling rstrip method as string start with a space: ", my_str.rstrip())

Enter a string:  This is my strip program
Appling strip method as string start with and end with a space This is my strip program

In [23]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [27]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

my_str = input("Enter a string: ")
if my_str[0].islower():
    print(my_str.capitalize())
else :
    print(my_str.title())

Enter a string: This is my class
This Is My Class

In [29]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

my_str = input("Enter a string: ")
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.islower())
print(my_str.isupper())
print(my_str.istitle())
print(my_str.isspace())
print(my_str.isnumeric())
print(my_str.isdecimal())

Enter a string: Python
True
True
False
False
False
True
False
False
False

In [30]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

my_str = input("Enter a string: ")
print(my_str.isidentifier())

Enter a string: python123
True

In [31]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())
#True
my_string = 'Studytonight'
print(my_string.isascii())
#True
my_string = 'Study tonight'
print(my_string.isascii())
#True
my_string = 'Studytonight@123'
print(my_string.isascii())
#True
my_string = '°'
print(my_string.isascii())
#False
my_string = 'ö'
print(my_string.isascii())
#False

In [41]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [43]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
my_str = 'python'
print(my_str.ljust(8, '*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
print(my_str.rjust(8, '*'))

#Write the code to get below output
#O/P 1:- **python** (using rjust method)
print(my_str.center(10, '*'))

python**
**python
**python**

In [44]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

my_str = 'Write a Python program to find the length of the my_str'
print(len(my_str))

55

In [45]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.count('p'))

9

In [46]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

i=-1
my_str = 'peter piper picked a peck of pickled peppers.'
while True:
    i = my_str.find('p',i+1)
    if i ==-1:
        break
    else:
        print(i)

0
6
8
12
21
29
37
39
40

In [47]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

my_str='peter piper picked a peck of pickled peppers.'
print(my_str.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [48]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

print(' '.join(my_str.split()[::-1]))

peppers. pickled of peck a picked piper peter

In [49]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

print(my_str[::-1])

.sreppep delkcip fo kcep a dekcip repip retep

In [50]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

print(' '.join([i[::-1] for i in my_str.split()]))

retep repip dekcip a kcep fo delkcip .sreppep

In [51]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

print(my_str.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [53]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

my_str ='Peter Piper Picked A Peck Of Pickled Peppers.'
my_str.lower()
print(my_str.capitalize())

Peter piper picked a peck of pickled peppers.

In [54]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.index('Pickl'))

29

In [55]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

print(my_str.replace('Peck','Pack'))

Peter Piper Picked A Pack Of Pickled Peppers.

In [56]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'
print('Peck'.center(len(my_str),'*'))

*********************Peck********************